body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav {
    background-color: #2d2d2d;
    color: #ffffff;
    height: 50px;
    padding-top: 25px;
    text-align: center;
}

a {
    color: #ffffff;
    position: relative;
}

.dropdown {
    position:relative; 
}

.droplink {
    position: relative;
}

.drop-content {
    display: none;
}