body {
    background-color: rgb(213, 215, 218);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav {
    background-color: #333232;
    color: #ffffff;
    height: 50px;
    padding-top: 25px;
    text-align: center;
    line-height: 30px;
}

a {
    color: #ffffff;
    position: relative;
}

.logo {
    position: absolute;
    padding-left: 35px;
    font-size: 25px;
}

a:hover {
    border: 1px solid rgb(204, 53, 33);
    border-radius: .2em;
    padding: 10px;
}

.home {
    padding: 20px;
    text-decoration: none;
}

.about {
    padding: 20px;
    text-decoration: none;
}

.contact {
    padding: 20px;
    text-decoration: none;
}

.wrapper {
    position:relative; 
}

.droplink {
    position: relative;
    padding: 20px;
    text-decoration: none;
}

.drop-content {
    display: none;
}