body {
    background-color: rgb(213, 215, 218);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav {
    background-color: #333232;
    color: #ffffff;
    height: 60px;
    padding-top: 25px;
    padding-right: 35px;
    text-align: center;
    line-height: 35px;
}

.navMenu {
    float: right;
}

a {
    color: #ffffff;
    position: relative;
}

.logo {
    position: absolute;
    padding-left: 35px;
    font-size: 25px;
}

a:hover {
    border: 1px solid rgb(204, 53, 33);
    border-radius: .2em;
}

.aDrop:hover {
    font-size: 17px;
    color: rgb(204, 53, 33);
    border: none;
}

.home {
    padding-right: 20px;
}

.home:hover, .about:hover, .contact:hover {
    padding: 10px;
}

.about {
    padding-right: 10px;
    padding-left: 10px;
}

button:focus {
    outline: 0;
}

button:hover {
    border: 1px solid rgb(204, 53, 33);
    border-radius: .2em;
}

/* Styling below handles the inventory dropdown */
li {
    position: relative;
    list-style: none;
    background-color: #333232;
    border: 1px solid rgb(204, 53, 33);
    text-align: center;
    height: 40px;
    width: 125px;
}

ul, li, a {
    text-decoration: none;
}

ul {
    margin-left: 38px;
} 

#droplink {
    position: relative;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    background-color: #333232;
    border: none;
}

#droplink:hover {
    border: 1px solid rgb(204, 53, 33);
    border-radius: .2em;
}

.drop-content {
    display: none;
    position: absolute;
    min-width: 150px;
}

.drop-content:hover a:hover {
    color:rgb(204, 53, 33);
    border: none;
}